# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
lib/__tests__

# production
build
spicy-datatable

# misc
.DS_Store
.env
.idea/
npm-debug.log
