.App {
  text-align: center;
}

.App-logo {
  height: 48px;
}

.App-header {
  background-color: whitesmoke;
  padding: 20px;
  color: #222;
}

.App-intro {
  margin: 20px auto;
  width: 800px;
  padding: 20px;
}

.demoBtn {
  background: none;
  border: 3px solid white;
  padding: 5px 15px;
  cursor: pointer;
  color: #222;
  transition: 0.25s all;
}

.demoBtn:disabled {
  opacity: 0.5;
}

.demoBtn:hover {
  border: 3px solid #222;
  padding: 5px 15px;
  cursor: pointer;
  color: white;
  background: #222;
}
